html,
body {
    background-color: white;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
}

.category-heading {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.category-heading h1 {
    font-size: 30px;
    padding: 10px;
}

.category-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.category-sorting h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.needs-border {
    border-right: solid;
    border-width: 1px;
}

.category {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-item {
    padding: 10px, 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-fills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.submit-button {
    cursor: pointer;
    border: none;
    outline: none;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button:hover {
    color: red;
}

.btn-primary,
.btn-success {
    margin: 10px;
    max-width: 100px;
    width: 100%;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-alerts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.register-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}