.register-link a {
  outline: none;
}

.register-link a:link,
.register-link a:visited {
  text-decoration: none;
}

.register-button:hover {
  background-color: darkgreen;
  color: white;
}

.register-button a {
  color: white;
  text-decoration: none;
}

.register-button a:hover {
  color: white;
}

.register-button {
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 35px;
  border-radius: 16px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 250px;
  height: 50px;
  border-radius: 30px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(to right, #3333ff 30%, #b300b3);
}

.register-button:hover {
  background-color: darkblue;
  color: white;

  background-image: linear-gradient(to right, #0000b8 30%, #6b006b);
}

.login-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  margin-top: 20px;
}

.login-register p {
  font-size: 20px;
  margin: 5px;
}

.register-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0px;

  margin-left: 35%;
  margin-right: 35%;

  gap: 50px;

  border-radius: 10px;

  background: white;
  color: black;
  box-shadow: 0rem 0 2rem #000;

  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 125px;

  flex-grow: 1;
}

.register-block h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.register-form p {
  width: 80%;
}

.register-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}