<!DOCTYPE html>
<html lang="en">
	<head>
		{% extends '../base/base.html' %} 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% block content %}

		{% if user.is_authenticated %}

		{% if spending_categories_list %}
		<div class="category-list">
			<div class="category-heading"><h1>Your Spending</h1></div>
			<div class="category-sorting">
				<h2 class="needs-border">Categoy</h2>
				<h2 class="needs-border">Budget</h2>
				<h2 class="needs-border">Spent</h2>
				<h2>Remaining</h2>
			</div>
			{% for category in spending_categories_list %}
				<div class="category"><h2>{{ category.spending_category }}</h2>
				<h2 id="current">${{ category.monthly_budget }}</h2>
				<h2 id="spent">${{ category.current_spending }}</h2>
				<h2 id="result"></h2>
				</div>
			{% endfor %}
			<script>
				calculate();
			</script>
			<div class="button-div">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#payModal" data-bs-whatever="@mdo">Log</button>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-whatever="@adg">Create</button>
			</div>
		</div>
		<div>

		<div>
		<div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="exampleModalLabel">Log a payment</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <form action="" method="post">
					{% csrf_token %}
					<div class="mb-3">
					  <label for="category_spent" class="col-form-label">Category:</label>
					  <select  id="category_chosen" name="category">
						{% for category in spending_categories_list %}
						<option value="{{ category.spending_category }}">{{ category.spending_category }}</option>
						{% endfor %}
					  </select>
					</div>
					<div class="mb-3">
					  <label for="message-text" class="col-form-label">Amount Spent:</label>
					  <textarea class="form-control" id="message-text" name="amount"></textarea>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" name="action" value="Submit">
					</div>
				</form>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<div>
		<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel2">New message</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					{% csrf_token %}
				<div class="mb-3">
					<label for="category-name" class="col-form-label">Category Name:</label>
					<input type="text" class="form-control" name="category-name">
				</div>
				<div class="mb-3">
					<label for="message-text" class="col-form-label">Monthly Budget:</label>
					<textarea type="text" class="form-control" name="monthly-budget"></textarea>
				</div>
				<div class="mb-3">
					<label for="message-text" class="col-form-label">Current Spending:</label>
					<textarea type="text" class="form-control" name="current-spending"></textarea>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" name="action" value="Create">
				</div>
				  </form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		</div>


		{% else %}
		<p>No spending categories created.</p>
		{% endif %}

		{% for saving in savings %}
		{{saving}}
		{% endfor %}

		{% else %}
		<div class="login-form">
			<form method="POST" action="{% url 'testapp:index' %}">
				{% csrf_token %}
				<form>
					<div class="mb-3">
					  <label class="form-label">Username</label>
					  <input type="username" class="form-control" name="username" placeholder="username" required>
					</div>
					<div class="mb-3">
					  <label for="exampleInputPassword1" class="form-label">Password</label>
					  <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password" required>
					</div>
					<div class="login-submit">
					<button type="submit" class="btn btn-primary">Login</button>
					</div>
				  </form>
			</form>
			</div>
		{% endif %}
		{% endblock %}
	</body>
</html>
