<!DOCTYPE html>
<html lang="en">
	<head>
		{% extends '../base/base.html' %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% load static %}
		{% block content %} {% if user.is_authenticated %}
		<div class="welcome">
			<h1>Welcome, {{ user.username }}!</h1>
		</div>

		<div class="spending">
			<div class="category-list">
				<div class="category-heading">
					<h1>Your Spending</h1>
					<button 
					type="button" 
					class="edit-button" 
					data-bs-toggle="modal"
					data-bs-target="#editModal"
					data-bs-whatever="@mdo"
					>
						<img class="edit-img" src="{% static 'testapp/img/white-edit.png' %}" alt="refresh" />
					</button>
				</div>
				{% if spending_categories_list %}
				<div class="category-sorting">
					<h2 class="needs-border">Categoy</h2>
					<h2 class="needs-border">Budget</h2>
					<h2 class="needs-border">Spent</h2>
					<h2>Remaining</h2>
				</div>
				{% for category in spending_categories_list %}
				<div class="category">
					<h2>{{ category.spending_category }}</h2>
					<h2 id="current">${{ category.monthly_budget }}</h2>
					<h2 id="spent">${{ category.current_spending }}</h2>
					<h2 id="result"></h2>
				</div>
				{% endfor %}
				<script>
					calculate();
				</script>
				<div class="button-div">
					<button
						type="button"
						class="log-button"
						data-bs-toggle="modal"
						data-bs-target="#payModal"
						data-bs-whatever="@mdo"
					>
						Log
					</button>
					<button
						type="button"
						class="create-button"
						data-bs-toggle="modal"
						data-bs-target="#createModal"
						data-bs-whatever="@adg"
					>
						Create
					</button>
				</div>
			</div>
			<div
				class="modal fade"
				id="payModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Log a payment
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="category_spent" class="col-form-label">
										Category:
									</label>
									<select id="category_chosen" name="category">
										{% for category in spending_categories_list %}
										<option value="{{ category.spending_category }}">
											{{ category.spending_category }}
										</option>
										{% endfor %}
									</select>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Amount Spent:
									</label>
									<textarea
										class="form-control"
										id="message-text"
										name="amount"
									></textarea>
								</div>
								<div class="modal-footer" name="log_spending">
									<button
										type="submit"
										class="log-button"
										name="action"
										value="log_spending"
									>
										Log
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div
				class="modal fade"
				id="createModal"
				tabindex="-1"
				aria-labelledby="createModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel2">
								New spending category
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="category-name" class="col-form-label">
										Category Name:
									</label>
									<input
										type="text"
										class="form-control"
										name="category-name"
									/>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Monthly Budget:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="monthly-budget"
									></textarea>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Current Spending:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="current-spending"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="create-button"
										name="action"
										value="create_spending"
									>
										Create
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div
				class="modal fade"
				id="editModal"
				tabindex="-1"
				aria-labelledby="editModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel2">
								Edit Spending Categories
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="category_spent" class="col-form-label">
										Category:
									</label>
									<select id="category_chosen" name="category">
										{% for category in spending_categories_list %}
										<option value="{{ category.spending_category }}">
											{{ category.spending_category }}
										</option>
										{% endfor %}
									</select>
								</div>
								<div class="mb-3">
									<label for="category-name" class="col-form-label">
										Category Name:
									</label>
									<input
										type="text"
										class="form-control"
										name="category-name"
									/>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Monthly Budget:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="monthly-budget"
									></textarea>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Current Spending:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="current-spending"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="create-button"
										name="action"
										value="edit-category"
									>
										Update
									</button>
									<button
										type="submit"
										class="delete-button"
										name="action"
										value="delete-category"
									>
										Delete
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="button-div">
				<button
					type="button"
					class="create-button"
					data-bs-toggle="modal"
					data-bs-target="#createModal"
					data-bs-whatever="@adg"
				>
					Create
				</button>
			</div>
			<div
				class="modal fade"
				id="createModal"
				tabindex="-1"
				aria-labelledby="createModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel2">
								New Spending Category
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="category-name" class="col-form-label">
										Category Name:
									</label>
									<input
										type="text"
										class="form-control"
										name="category-name"
									/>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Monthly Budget:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="monthly-budget"
									></textarea>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Current Spending:
									</label>
									<textarea
										type="text"
										class="form-control"
										name="current-spending"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="create-button"
										name="action"
										value="create_spending"
									>
										Create
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="savings-debts">
			<div class="savings-list">
				<div class="savings-heading">
					<h1>Your Savings</h1>
				</div>
				{% if savings %}
				<div class="savings-sorting">
					<h2 class="needs-border">Account</h2>
					<h2>Amount</h2>
				</div>
				<div class="savings-container">
				{% for saving in savings %}
					<div class="saving-item">
						<h2>{{ saving.savings_account }}</h2>
					</div>
					<div class="saving-item">
						<h2>${{ saving.savings_amount }}</h2>
					</div>
				{% endfor %}
				</div>
				<div class="button-div">
					<button
					type="button"
					class="log-button"
					data-bs-toggle="modal"
					data-bs-target="#logSavingsModal"
					data-bs-whatever="@adg"
					>
						Log
					</button>
					<button
						type="button"
						class="create-button"
						data-bs-toggle="modal"
						data-bs-target="#createSavingsModal"
						data-bs-whatever="@adg"
					>
						Create
					</button>
				</div>
			</div>
			{% else %}
				<div class="button-div">
					<button
						type="button"
						class="create-button"
						data-bs-toggle="modal"
						data-bs-target="#createSavingsModal"
						data-bs-whatever="@adg"
					>
						Create
					</button>
				</div>
			</div>
			</div>
			{% endif %}
			<div class="debts-list">
				<div class="debts-heading">
					<h1>Your Debts</h1>
				</div>
				{% if debt %}
				<div class="debt-sorting">
					<h2 class="needs-border">Debt</h2>
					<h2>Amount</h2>
				</div>
				<div class="debts-container">
				{% for debt in debt %}
					<div class="debt-item">
						<h2>{{ debt.debt_account }}</h2>
					</div>
					<div class="debt-item">
						<h2>${{ debt.debt_amount }}</h2>
					</div>
				{% endfor %} 
				</div>
				<div class="button-div">
					<button
					type="button"
					class="log-button"
					data-bs-toggle="modal"
					data-bs-target="#updateDebtModal"
					data-bs-whatever="@adg"
					>
						Log
					</button>
					<button
						type="button"
						class="create-button"
						data-bs-toggle="modal"
						data-bs-target="#createDebtModal"
						data-bs-whatever="@adg"
					>
						Create
					</button>
				</div>
				{% else %}
				<div class="button-div">
					<button
						type="button"
						class="create-button"
						data-bs-toggle="modal"
						data-bs-target="#debtModal"
						data-bs-whatever="@adg"
					>
						Create
					</button>
				</div>
				{% endif %}
			</div>

			<div
				class="modal fade"
				id="createSavingsModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Create a savings account
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="category_spent" class="col-form-label">
										Account Name:
									</label>
									<textarea
										class="form-control"
										id="message-text"
										name="account"
									></textarea>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label">
										Current Savings:
									</label>
									<textarea
										class="form-control"
										id="message-text"
										name="amount"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="create-button"
										name="action"
										value="create_savings"
									>
										Create
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div
				class="modal fade"
				id="createDebtModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Log a debt
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="message-text" class="col-form-label"
										>Debt account:</label
									>
									<textarea
										class="form-control"
										id="message-text"
										name="account"
									></textarea>
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label"
										>Debt amount:</label
									>
									<textarea
										class="form-control"
										id="message-text"
										name="amount"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="create-button"
										name="action"
										value="create_debt"
									>
										Create
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div
			class="modal fade"
			id="logSavingsModal"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
			>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">
							Update Savings
						</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<form action="" method="post">
							{% csrf_token %}
							<div class="mb-3">
								<label for="category_spent" class="col-form-label">
									Category:
								</label>
								<select id="message-text" name="account">
									{% for saving in savings %}
									<option value="{{ saving.savings_account }}">
										{{ saving.savings_account }}
									</option>
									{% endfor %}
								</select>
							</div>
							<div class="mb-3">
								<label for="category_spent" class="col-form-label">
									Amount Added:
								</label>
								<textarea
									class="form-control"
									id="message-text"
									name="amount"
								></textarea>
							</div>
							<div class="modal-footer">
								<button
									type="submit"
									class="log-button"
									name="action"
									value="log_savings"
								>
									Log
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

			<div
				class="modal fade"
				id="updateDebtModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Update Debts
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="account" class="col-form-label">
										Category:
									</label>
									<select id="category_chosen" name="account">
										{% for debts in debt %}
										<option value="{{ debts.debt_account }}">
											{{ debts.debt_account }}
										</option>
										{% endfor %}
									</select>
								</div>
								<div class="mb-3">
									<label for="amount" class="col-form-label">
										New Amount:
									</label>
									<textarea
										class="form-control"
										id="message-text"
										name="amount"
									></textarea>
								</div>
								<div class="modal-footer">
									<button
										type="submit"
										class="log-button"
										name="action"
										value="log_debt"
									>
										Log
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% else %}
		<div class="login-form">
			<form method="POST" action="{% url 'testapp:index' %}">
				{% csrf_token %}
				<h1>Login</h1>
				<form>
					<div class="mb-3">
						<label class="form-label">Username</label>
						<input
							type="username"
							class="form-control"
							name="username"
							placeholder="username"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label"
							>Password</label
						>
						<input
							type="password"
							class="form-control"
							id="exampleInputPassword1"
							name="password"
							placeholder="password"
							required
						/>
					</div>
					<div class = "login-register">
						<div class="login-submit">
							<button type="submit" class="login-button">Login</button>
						</div>
						<div class="register">
							<button class="register-button">
								<a href="{% url 'testapp:register' %}">Register</a>
							</button>
						</div>
					</div>
				</form>
			</form>
		</div>
		{% endif %} {% endblock %}
	</body>
</html>
