{% extends '../base/base.html' %} 

{% block content %}
<div class="register">
    <div class="register-main">
        <div class="register-block">
            <h1>Register</h1>
            <form method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                <div class="auth-alerts">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="register-form">
                {{ form.as_p }}
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="footer-links">
        <hr />
        <a href="https://github.com/zdigness/personal_finance"
            ><img src="../../static/testapp/img/github.png"
        /></a>
        <a href="https://www.linkedin.com/in/zdigness/"
            ><img src="../../static/testapp/img/linkedin.png"
        /></a>
        <hr />
    </div>
    <div class="footer-desc">
        <p>© 2024 Zoli Digness. All rights reserved.</p>
    </div>
</footer>
{% endblock %}