{% extends '../base/base.html' %} 

{% block content %}
<div class="register-block">
    <h1>Register</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% if form.errors %}
        <div class="auth-alerts">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				{% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
        {% endif %}
        <div class="register-form">
        {{ form.as_p }}
        </div>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}