<!DOCTYPE html>
<html lang="en">
	<head>
		{% extends '../base/base.html' %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% block content %}
		<div class="chatbot-container">
			<div class="chatbot-header">
				<h1>Chatbot</h1>
			</div>
			<div class="chatbot-subheader">
				<p>Any questions about your finances?</p>
			</div>
			<div class="chatbot-body">
				{% for bot_message in bot_messages %}
				<div class="chatbot-message">
					<p>{{ bot_message }}</p>
				</div>
				{% endfor %}
			</div>
			<div class="chatbot-input">
				<form action="" method="post">
					{% csrf_token %}
					<input
						type="text"
						name="user_input"
						placeholder="Type your message..."
					/>
					<input type="submit" value="Ask" />
				</form>
			</div>
		</div>
		<div class="chart-container">
			<div class="carousel-track">
				<div class="carousel-slide">
					<div class="chart-header">
						<h1>Monthly Spending</h1>
					</div>
					<div class="chart-body">
						<img
							src="data:image/png;base64, {{ piechart }}"
							alt="Matplotlib Plot"
						/>
					</div>
				</div>
				<div class="carousel-slide">
					<div class="chart-header">
						<h1>Daily Spending</h1>
					</div>
					<div class="chart-body">
						<img
							src="data:image/png;base64, {{ barchart }}"
							alt="Matplotlib Plot"
						/>
					</div>
				</div>
			</div>
			<button class="carousel-prev">&lt;</button>
			<button class="carousel-next">&gt;</button>
		</div>
		{% endblock %}
	</body>
</html>
