<!DOCTYPE html>
<html lang="en">
	<head>
		{% extends '../base/base.html' %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<script defer src="{% static 'testapp/script.js' %}"></script>
		<title>Document</title>
	</head>
	<body>
		{% block content %}
		<div class="chatbot-container">
			<div class="chatbot-header">
				<h1>Chatbot</h1>
			</div>
			<div class="chatbot-subheader">
				<p>Any questions about your finances?</p>
			</div>
			<div id="chatbot-messages" class="chatbot-messages">
				<p></p>
			</div>
			<div class="chatbot-input">
				<form action="" id="my-form">
					{% csrf_token %}
					<input
						class="chatbot-input-field"
						type="text"
						name="message"
						placeholder="Type your message..."
					/>
					<button id="send-message" class="chatbot-input-button" type="submit">
						Submit
					</button>
				</form>
			</div>
		</div>
		<div class="chart-container">
			<div class="carousel-track">
				<div class="carousel-slide">
					<div class="chart-header">
						<h1>Monthly Spending</h1>
					</div>
					<div class="chart-body">
						<img
							src="data:image/png;base64, {{ piechart }}"
							alt="Matplotlib Plot"
						/>
					</div>
				</div>
				<div class="carousel-slide">
					<div class="chart-header">
						<h1>Daily Spending</h1>
					</div>
					<div class="chart-body">
						<img
							src="data:image/png;base64, {{ barchart }}"
							alt="Matplotlib Plot"
						/>
					</div>
				</div>
			</div>
			<button class="carousel-prev">&lt;</button>
			<button class="carousel-next">&gt;</button>
		</div>
		{% endblock %}
	</body>
</html>
