html,
body {
    background-color: white;
}

.spending {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.savings-debts {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
}

.savings-container,
.debts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.debt-item,
.saving-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.debt-item h2,
.saving-item h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.savings-list,
.debts-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    height: min-content;
    width: 100%;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    height: min-content;
    width: 100%;
}

.category-heading,
.savings-heading,
.debts-heading {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.category-heading h1,
.savings-heading h1,
.debts-heading h1 {
    font-size: 30px;
    padding: 10px;
}

.category-sorting,
.debt-sorting,
.savings-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.category-sorting h2,
.debt-sorting h2,
.savings-sorting h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.needs-border {
    border-right: solid;
    border-width: 1px;
}

.category {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-item {
    padding: 10px, 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-fills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.submit-button {
    cursor: pointer;
    border: none;
    outline: none;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button:hover {
    color: red;
}

.btn-primary,
.btn-success {
    margin: 10px;
    max-width: 100px;
    width: 100%;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-alerts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.register-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatbot-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    color: black;
    text-align: center;
}

.chatbot-subheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    font-style: italic;
}

.chatbot-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chatbot-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chart-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chart-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    outline: none;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}