@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #17141d !important;
    color: white !important;
    font-family:'DM Mono', monospace !important;
    height: 100%;
}

.main {
    min-height: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    color: white;
}

.spending {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}

.savings-debts {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom : 50px;
    gap: 50px;
}

.savings-container,
.debts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.debt-item,
.saving-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.debt-item h2,
.saving-item h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.savings-list,
.debts-list {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    height: min-content;
    width: 100%;

    background: #17141d;
    box-shadow: 0rem 0 2rem #000;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 16px;
    height: min-content;
    width: 100%;

    background: #17141d;
    box-shadow: 0rem 0 2rem #000;
}

.savings-heading,
.debts-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.category-heading {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.category-heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    margin-left: 40px;
}

.category-heading h1,
.savings-heading h1,
.debts-heading h1 {
    font-size: 30px;
    padding: 10px;
}

.category-sorting,
.debt-sorting,
.savings-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.category-sorting h2,
.debt-sorting h2,
.savings-sorting h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.needs-border {
    border-right: solid;
    border-width: 1px;
}

.category {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-item {
    padding: 10px, 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-fills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.submit-button {
    cursor: pointer;
    border: none;
    outline: none;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button:hover {
    color: red;
}

.btn-primary,
.btn-success {
    margin: 10px;
    max-width: 100px;
    width: 100%;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    gap: 10px;

    margin-left: 30%;
    margin-right: 30%;

    border-radius: 16px;

    background: white;
    color: black;
    box-shadow: 0rem 0 2rem #000;

    padding-top: 75px;
    padding-bottom: 75px;

    flex-grow: 1;
}

.login-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-alerts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.register-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 16px;
    background: #17141d;
    box-shadow: 0rem 0 2rem #000;
    overflow: hidden;
}

.chatbot-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    text-align: center;
}

.chatbot-subheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    font-style: italic;
}

.chatbot-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chatbot-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chart-container {
    /* position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    height: fit-content;
    margin: 100px;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;

    border-radius: 16px;
    background: #17141d;
    box-shadow: 0rem 0 2rem #000;
}

@media (max-width: 1260px) {
    .chart-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 900px) {
    .chart-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chart-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.log-button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 16px;
    margin: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.log-button:hover {
    background-color: #006CBA;
    color: white;
}

.log-button:active {
    background-color: #006CBA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.create-button {
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 16px;
    margin: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-button:hover {
    background-color: darkgreen;
    color: white;
}

.create-button:active {
    background-color: darkgreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.edit-button {
    border: none;
    padding: 0;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.edit-button:hover {
    background-color: black;
    color: white;
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: lightgray;
    color: black;
}

.delete-button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 16px;
    margin: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
    background-color: #FF3632;
    color: white;
}

.navbar {
    background-color: transparent !important;
    border-color: transparent !important;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: white !important;
    width: fit-content;
}

.nav-item {
    margin: 0 10px;
    margin-left: 10% !important;
}

.nav-link:hover {
    color: #006CBA !important;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.burger-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    order: 1;
    margin-right: 10%;
}

@media (max-width: 990px) {
    .burger-account {
        order: 0;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 16px;
}

.account-toggler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    order: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 16px;
}

.dropdown content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
}

.navbar-brand {
    margin-left: 10% !important;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.login-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 20px;
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.login-register p {
    font-size: 20px;
    margin: 5px;
}

.register-button {
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 16px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
    background-color: darkgreen;
    color: white;
}

.register-button a {
    color: white;
    text-decoration: none;
}

.register-button a:hover {
    color: white;
}

.login-button {
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 16px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    background-color: darkblue;
    color: white;
}

.login-button a {
    color: white;
    text-decoration: none;
}

.login-button a:hover {
    color: white;
}

.chatbot-input-field {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    border: none;
    outline: none;
}

.chatbot-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
    width: 95%;
    max-height: 300px;
}

.chatbot-messages .user-message {
    font-size: 16px;
    color: white;
    background-color: grey;
    border-radius: 16px;
    line-height: 1.5;
    max-width: 60%;
    width: fit-content;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatbot-messages .chatbot-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: green;
    border-radius: 16px;
    line-height: 1.5;
    max-width: 60%;
    width: fit-content;
    margin-left: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register, .login, .loggedin, .analytics {
    min-height: 91.7%;
}

.register-main, .login-main, .loggedin-main, .analytics-main {
    overflow: auto;
    padding-bottom: 100px;
}

footer {
    position: fixed;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;

    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    background-color: white; /* Light gray background */
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px; 
    width: 100%;
}

footer p {
    color: black;
    margin: 0; /* Remove any unwanted space */
}

footer img {
    opacity: 0.8;
    transition: 0.3s;
}

footer img:hover {
    opacity: 1;
}

footer .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

footer hr {
    height: 2px;
    width: 40%;
    background-color: black;
}